<div class="row" id="<%= note.persisted? ? dom_id(note) : "note-new" %>">
<div> <%= note.body %></div>
  <div> Answered by <%= note.responder %></div>
    <strong>Date:</strong>
    <div><%= note.created_at %></div>
</div>
