<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @problem.user %>
</p>

<p>
  <strong>Published Date:</strong>
  <%= @problem.published_date %>
</p>

<p>
  <strong>Body:</strong>
  <%= @problem.body %>
</p>
