// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

.notebody {

	width: 20%;
}

.tried {

	padding-bottom: 10px;
	padding-top: 20px;
}

.description {

	padding-bottom:10px;
}

.problemshow {
	margin-left: 40px;
}
