// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
//
// .main {
// 	padding-left:380px;
// 	margin-left: auto;
// 	margin-right: auto;
// 	position:relative;
// 	margin-top: 50px;
// }
